{{define "experience"}}
{{if .Experiences}}
<section class="row">
  <header class="col-md-3">
    <h3>Work Experience</h3>
  </header>
  <div class="col-md-9">
    {{range .Experiences}}
    <div class="item">
      <h3>{{.Company}}</h3>
      <strong>{{ .Role }}</strong>
      {{if .StartDate}}
      <p class="sticky">{{.StartDate}}-{{.EndDate}}</p>
      {{end}}
      {{if .Summary}}
      <p>{{nl2br .Summary}}</p>
      {{end}}
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}
