{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <style>
    body {
      font-family: "Source Sans Pro";
    }

    h3 {
      margin-top: 0.5em;
    }

    h4 {
      margin-top: 1.1em;
    }

    .footer,
    section {
      border-top: 1px solid #eee;
      padding: 1em 0;
    }

    section p {
      margin: 0.8em 0 0.4em 0;
    }

    section p.sticky {
      margin: 0;
    }

    section ul {
      margin-top: 1em;
    }

    img.photo {
      width: 100px;
      height: auto;
      margin: 20px 0;
    }

    .contacts dt {
      width: 60px;
      text-align: left
    }

    .contacts dd {
      margin-left: 65px;
    }

    .item {
      border-bottom: 1px solid #eee;
    }

    .item:last-child {
      border-bottom: none;
    }

    header.main h3 {
      margin-top: 0.3em;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          {{template "profile" .}}
          {{template "experience" .}}
          {{template "project" .}}
          {{template "education" .}}
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>

</html>
{{end}}
