{{define "profile"}}
<header class="main row">
  <div class="header">
    <div class="col-md-6 col-sm-12">
      <h1>{{ .Profile.Name }}</h1>
      <h3>{{ .Profile.Label }}</h3>
    </div>


    {{if .Profile.Image}}
    <div class="col-md-6 col-sm-12">
      <img class="photo img-responsive img-circle pull-right" src="{{ .Profile.Image }}">
    </div>
    {{end}}
  </div>

  <div class="">
    <div class="col-md-6 col-sm-12">
      <dl class="contacts dl-horizontal">

        {{if .Profile.Address}}
        <dt>Address:</dt>
        <dd>{{ .Profile.Address }}</dd>
        {{end}}

        {{if .Profile.Phone}}
        <dt>Phone:</dt>
        <dd>{{ .Profile.Phone }}</dd>
        {{end}}

        {{if .Profile.Email}}
        <dt>Email:</dt>
        <dd>
          <a href="mailto:{{ .Profile.Email }}">
                {{ .Profile.Email }}
            </a>
        </dd>
        {{end}}

        {{if .Profile.Github}}
        <dt>Github:</dt>
        <dd>
          <a href="{{ .Profile.Github }}">
              {{ .Profile.Github }}
            </a>
        </dd>
        {{end}}

      </dl>
    </div>

  </div>
</header>

{{if .Profile.Summary}}
<section class="row">
  <header class="col-md-3">
    <h3>About</h3>
  </header>
  <div class="col-md-9">
    <h3></h3> {{nl2br .Profile.Summary }}
  </div>
</section>
{{end}}
{{end}}
